.App {
  display: block;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}

.menu {
  display:flex;
  flex-direction: row;
  background-color:#3179ba;
  padding: 20px;
  color:#fff;
  border-radius: 8px;
}

.menu li {

  margin-right:20px;
  cursor: pointer;
  font-size: 25px;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 20px;
}

.card {
  margin-right: 50px;
  border:1px solid;
  padding: 20px;
  width: 250px;
  border-radius: 3px;
}